<div class="container shadow">
  <h1><%= @deck.title %></h1>
  <div class="center_text pad-bottom">
    <a href="/decks" class="button shadow">Play Again!</a>
    <a href="/account" class="button shadow">Account</a>
  </div>

  <div class="float-left <% @legendary %>">
    <div class="deck large">
      <span>
        <div class="collect_me">
          <img src="/images/pokemon/<%= @deck.legendary_pokemon.name %>.jpg" alt="<%= @deck.legendary_pokemon.name %>">
          <div class='pokeball'></div>
        </div>
      </span>
      <h3 class="trainer blue-outline"><%= @deck.legendary_pokemon.name %></h3>
    </div>
  </div>
  <div class="float-right">
    <h2>You scored</h2>
    <h2 class="important"><%= @deck.cards.where(correct: true).count %></h2>
    <% if @legendary %>
    <h3>You win the legendary pokemon!</h3>
    <% else %>
    <h3>Try again to guess all the right answers to win the legendary pokemon!</h3>
    <% end %>
  </div>
</div>