<h1><%= @deck.title %></h1>

<% if @front %>
<div class="deck game_card">
  <h1 class="important"><%= @current_card.question %></h1>
</div>
<form action="/round/<%= @deck.id %>/<%= @current_index %>" method="post">
<fieldset>
  <label for="guess">Guess</label>
  <input type="text" name="guess" placeholder="type in your guess">
</fieldset>
<input type="submit" value="Guess!">
</form>

<% else %>

<div class="deck game_card <%= @current_card.correct %>">
  <h1 class="important"><%= @current_card.answer %></h1>
  <% if @current_card.correct %>
    <img src="/images/pokemon/<%= @current_card.pokemon.name %>.jpg" alt="">
    <p>Correct!</p>
  <% else %>
    <p>Bummer</p>
  <% end %>
</div>
<a href="/round/<%= @deck.id %>/<%= @current_index %>" class="next button small shadow">Next</a>
<% end %>